# Supabase Configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Super Admin Credentials
VITE_SUPER_ADMIN_ID=root
VITE_SUPER_ADMIN_PASS=root
VITE_SUPER_ADMIN_ALT_ID=SUPER_ADMIN
VITE_SUPER_ADMIN_ALT_PASS=123456

# Email Configuration
RESEND_API_KEY=
